---
BasedOnStyle: Google
---
Language: Cpp
AccessModifierOffset: -4
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true
ColumnLimit: 80
IndentWidth: 4
UseTab: Never
---
